<a href="https://colab.research.google.com/github/nihithkumar/Scaler-DSML/blob/main/Python_Refresher_2_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Refresher: 2

# Data Structures in Python
- List
- Tuples
- Sets
- Dictionaries

## List:
- It's a hetrogenous collection of objects
```python
a = ["bipin", 23, 45.8, True, "Python"]
```
- One can access the object using it's index. Start index is `0` and last index is `size of list - 1`

In [ ]:
a = ["bipin", 23, 45.8, True, "Python"]
a

['bipin', 23, 45.8, True, 'Python']

In [ ]:
a[2]

45.8

In [ ]:
a[10]

IndexError: ignored

In [ ]:
a = ["bipin", 23, print, True, "Python"]
a[2]("hollaa")

In [ ]:
# len(a) function gives the length/ number of objects in `a`
len(a)

In [ ]:
# last element
a[len(a)-1]

> ***Negative indices***:
```python
->0  1  2  3  4
[ 45 18 78 99 100]
  -5 -4 -3 -2 -1 <-- negative index
```

In [ ]:
a[-1]

### slicing

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/219/original/Screenshot_2022-10-12_at_9.59.21_AM.png?1665548946">

In [ ]:
;;p

In [ ]:
a[2 : 7] # [start, end]

In [ ]:
a[:4] # default start = 0

[1, 2, 3, 4]

In [ ]:
a[2:] # default end = len(a)

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a[::2] # [start, end, jump]
# jump is the difference between consecutive indices

[1, 3, 5, 7, 9]

In [ ]:
# reversing list
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a[-3:2:-1] # negative jump means going towards left

[8, 7, 6, 5, 4]

In [ ]:
a = ["abc", 23, 45.8, True]
max(a)

TypeError: ignored

In [ ]:
# max() gives maximum element of list
max(a)

10

In [ ]:
min(a) # returns min value of list

1

In [ ]:
a = ["sndnas", 1,2]
min(a)

TypeError: ignored

In [ ]:
a = ["a", "b", "c"]
max(a)
# lexicographical comparison

'c'

In [ ]:
[1,2,3] + [4,5,6]
# both gets concatenated into one

[1, 2, 3, 4, 5, 6]

In [ ]:
[1,2,3,4,5,6] - [4,5,6]

TypeError: ignored

In [ ]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [ ]:
# lists are iterable
a = ["bipin", "is", "fairly", "good", "at", "python", 4,5,True]
for i in a:
  print(i)

bipin
is
fairly
good
at
python
4
5
True

In [ ]:
it = iter(a)
it

In [ ]:
next(it)

'fairly'

In [ ]:
a = [[1,2], [2,4], [5,6]]

In [ ]:
a[0]

[1, 2]

In [ ]:
a[0][0]

1

In [ ]:
# list are mutable
a = [1,2,3,4,5,6]
print(id(a))
a[0] = 9
print(id(a))

140322540174624
140322540174624

## Tuples
- Simply tuples are immutable lists

In [ ]:
a = (1,2,3,4)
a

(1, 2, 3, 4)

In [ ]:
type(a)

tuple

In [ ]:
a[0] = 45 # re-assignment not allowed

TypeError: ignored

In [ ]:
# defining tuple with single element
a = (10,)
type(a), a

(tuple, (10,))

Packing and Unpacking using Tuples
- need exact amount of variables as elements in tuple to pack and unpack
- unpacking can be used with `list` but no packing
- Python by default for packing & unpacking uses `tuples`

In [ ]:
a = (1,2,3)

In [ ]:
x, y, z = a

In [ ]:
print(x, y, z)

1 2 3

In [ ]:
def foo():
  return 1,2,3

In [ ]:
bar = foo()
print(bar)
print(type(bar))

(1, 2, 3)
<class 'tuple'>

In [ ]:
a, b, c = foo()
print(a,b,c)

1 2 3

In [ ]:
# unpacking of list
a,b = [1,2]
print(a, b)

1 2

In [ ]:
tup = 1,2,3
print(tup)

(1, 2, 3)

In [ ]:
# swapping without using third variable
a = 100
b = 200
print(a, b)

a, b = b, a
print(a, b)

100 200
200 100

In [ ]:
a = (1,2,3,4,5,6,7,8)
print("max: ", max(a))
print("min: ", min(a))
print("len: ", len(a))
print("max: ", max(a))

max:  8
min:  1
len:  8
max:  8

In [ ]:
5 in a

True

In [ ]:
a = (1,2,3) + (4,)
a

(1, 2, 3, 4)

## Dictionaries
- dictionaries have key-value pairs
- unordered: order of insertion is not maintained
- mutable
- indexable using keys
- Dictionaries are **iterable**
- Any `immutable` data structure can be `key`
- Any `immutable` or `mutable` data structure can be `value`

```python
d = {
  key : value
}
```

In [ ]:
d1 = {
    "name" : "Bipin",
    "age": 5000,
    "subject": ["python", "JS"]
}
d1

{'name': 'Bipin', 'age': 5000, 'subject': ['python', 'JS']}

In [ ]:
d1.get("name")

'Bipin'

In [ ]:
d1["name"] # accessing value of a key

'Bipin'

In [ ]:
d1["name"] = "I am supercool" # mutable
d1

{'name': 'I am supercool', 'age': 5000, 'subject': ['python', 'JS']}

In [ ]:
# deleting a key-value pair
d1.pop("age")
d1

{'name': 'I am supercool', 'subject': ['python', 'JS']}

In [ ]:
d4= {"lang": "JS"}
d4.update({"lang": "Python", "awesomeness": float("inf")})
d4

{'lang': 'Python', 'awesomeness': inf}

In [ ]:
Person = {
    "name":"Bipin",
    "age": 10000,
    "subject": "python"
}
Person

{'name': 'Bipin', 'age': 10000, 'subject': 'python'}

In [ ]:
# updating the dictionary
Person.update({
    "name": "Bipin Kalra",
    "subject": ["Python", "JS"],
    "cool?": True
})

Person

{'name': 'Bipin Kalra',
 'age': 10000,
 'subject': ['Python', 'JS'],
 'cool?': True}

Iterating over dictionaries:

In [ ]:
for i in Person: # by default it'll iterate over keys
  print(i)

name
age
subject
cool?

In [ ]:
# iterating over values
for i in Person.values():
  print(i)

Bipin Kalra
10000
['Python', 'JS']
True

In [ ]:
# iterating over both keys and values
# items() method returns the list of tuples with (key, value) and that tuple can be later unpacked
for key, value in Person.items():
  print(key, "->", value)

name -> Bipin Kalra
age -> 10000
subject -> ['Python', 'JS']
cool? -> True

In [ ]:
# Any immutable data structure can be key
# Any immutable or mutable data structure can be value

d1 = {
    "key1" : "value1",
    (1,23): {
        "random": "nested dict"
    },
    45: True,
    True: (1,2,3,4,5,6,7),
    # [1,2,3]: "value" (not allowed since list are mutable)
}

print(d1)

{'key1': 'value1', (1, 23): {'random': 'nested dict'}, 45: True, True: (1, 2, 3, 4, 5, 6, 7)}

In [ ]:
d1[(1,23)]

{'random': 'nested dict'}

In [ ]:
# using .get(key) method is a better way to access key rather than using key-indexing,
# if key does not exist it'll return None

print(d1.get(100))

None

In [ ]:
print(d1.get(100, "not found"))

not found

## Sets
- unordered
- non-indexable
- mutable
- stores unique values (repeated gets removed)
- iterable
- can only contain `immutable` data structures

In [ ]:
s1 = {1,2,3,3,3,4,4,5,5,}
s1

{1, 2, 3, 4, 5}

In [ ]:
# creating empty set, can't use {} syntax due to ambiguity with dictionaries
s1 = set()
s1

set()

In [ ]:
s1.add(10) # adding element to set
s1

{10}

In [ ]:
s1.remove(10) # removing element from set
s1

set()

In [ ]:
s1.update([1,2,3,4,5,6]) # updating set elements
s1

{1, 2, 3, 4, 5, 6}

In [ ]:
for i in s1:
  print(i)

1
2
3
4
5
6

### Set Operations:
```
A = {1,2}
B = {1,3,4,5}
```

- ***Intersection***
  - <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/046/original/Screenshot_2022-09-21_at_1.10.06_PM.png?1663746030">
  - Common in both sets
  - here `1` is common in both `A` and `B`

- ***Union***
  - <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/047/original/Screenshot_2022-09-21_at_1.11.27_PM.png?1663746097">
  - Set of both the elements `A` and `B`
  - here it is `{1,2,3,4,5}`

- ***Difference***
  - <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/050/original/Screenshot_2022-09-21_at_1.13.50_PM.png?1663746286">
  - `A - B`
    - Set of all elements that are in `A` but not in `B`
    - that is `{2}` here
  - `B - A`
    - Set of all elements that are in `B` but not in `A`
    - that is `{3,4,5}` here
  - `A-B` != `B - A`

- ***Symmetric Difference***
  - <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/051/original/Screenshot_2022-09-21_at_1.14.09_PM.png?1663746327">
  - `(A - B) Union (B - A)` or `(A U B) - (A Î› B)`
  - that is `{2,3,4,5}` here

In [ ]:
s1 = {1,2}
s2 = {1,3,4,5}

In [ ]:
# Union
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
# intersection
s1.intersection(s2)

{1}

In [ ]:
s1 & s2

{1}

In [ ]:
# difference
s1.difference(s2)

{2}

In [ ]:
s1 - s2

{2}

In [ ]:
# symmetric difference
s1.symmetric_difference(s2)

{2, 3, 4, 5}

In [ ]:
s1 ^ s2

{2, 3, 4, 5}

In [ ]:
# sets can only contain immutable data structures
wonderset = {1, 4.5, "string", True, (1,2,3)}
wonderset

{(1, 2, 3), 1, 4.5, 'string'}

### List's other functions

In [ ]:
a = [1,2,3,4,5]
print(id(a))

139965256388928

In [ ]:
a.append(6) # insert element at last of list

[1, 2, 3, 4, 5, 6]

In [ ]:
id(a)

139965256388928

In [ ]:
a.append([7,8,9]) # append the entire list object at end
a

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [ ]:
id(a)

139965256388928

In [ ]:
a.extend([10,11,12]) # separatly inserts the element of list to `a` from end
a

[1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

In [ ]:
id(a)

139965256388928

```python
a.pop() # pop using index, by default last
a.remove() # remove using value
```

In [ ]:
a.pop()
a

[1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11]

In [ ]:
a.pop(1)

2

In [ ]:
a

[1, 3, 4, 5, 6, [7, 8, 9], 10, 11]

In [ ]:
a.remove(4) # value 4 has removed
a

[1, 3, 5, 6, [7, 8, 9], 10, 11]

In [ ]:
7 in a # checking whether an element is in list or not

False

In [ ]:
[1,2,3].remove(1)

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/346/original/Screenshot_2022-09-29_at_2.01.19_PM.png?1664440306">

## List Comprehension and practice

# List Comprehension
> ***Task: given a list, create another list that contains the squared element of the given list***

In [ ]:
# iterative method
a = [1,2,3,4,5]
ans = []
for i in a:
  ans.append(i**2)

ans

[1, 4, 9, 16, 25]

###Converting **iterative** approach to **list comprehension** approach
<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/152/original/Screenshot_2022-09-25_at_2.22.49_PM.png?1664095987">

In [ ]:
ans = [i**2 for i in a]
ans

[1, 4, 9, 16, 25]

> ***Task 2: given a list, create another list whose elements satisfy the following condition***
```
i**2 if i is odd
i if i is even
```
where `i` is the element of given list

In [ ]:
# iterative approach
def my_logic(i):
  if i %2 == 0:
    return i
  else:
    return i**2

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
ans = []
for i in a:
  ans.append(my_logic(i))
ans

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

In [ ]:
# list comprehension approach
ans = [my_logic(i) for i in a]

print(ans)

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

In [ ]:
#  conditional output in comphrension
ans = [i if i%2==0 else i**2 for i in a]

print(ans)

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

In [ ]:
# filter in comprehension
ans = [i for i in a  if i%2==0 ]
ans

[2, 4, 6, 8, 10]

#### Nested List comprehension
<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/153/original/Screenshot_2022-09-25_at_2.46.09_PM.png?1664097367">

In [ ]:
# nested list comprehension
random = [i+j for j in range(1,11) for i in range(1,11)]

print(random)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
random_order = [str(i)+(j) for i in [1,2,3] for j in ['a', 'b', 'c']]

print(random_order)

['a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a3', 'b3', 'c3']

In [ ]:
# converting nested list comprehension to iteration
order = []
for i in ["a", "b", "c"]:
  for j in [1, 2, 3]:
    order.append(i+str(j))

print(order)

['a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3']

> Anything that can be done with `list comprehension` can be done with other data-structures too

In [ ]:
# set comprehension
s = {i**2 for i in range(1,11)}
s

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [ ]:
# note: set can only store data-sturctures that are immutable
# but sets are mutable itself
#hence no nested set comprehension

s = {{j for j in range(10)} for i in range(10)}

TypeError: ignored

In [ ]:
# dictionary comprehension
d = {i:i**2 for i in range(11)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

> ***Note***: when doing `tuple` comprehension, output will be a generator object so have to convert that generator object into `tuple` explicitily

In [ ]:
t = (i for i in range(6))
t

In [ ]:
tuple(t)

(0, 1, 2, 3, 4, 5)

# Strings

In [ ]:
# creating strings using single and double and triple quotes
s1 = "This is a string"
s2 = 'this is a string'
s3 = '''this is a string'''

string made with `''' '''` quotes are special because in them the **white spaces** are preserved

In [ ]:
s3 = '''
This is a stirng

where           white spaces are

      preserved !!!
'''

print(s3)

This is a stirng

where           white spaces are

      preserved !!!

In [ ]:
s = "python"

In [ ]:
# getting index of character
s.index('t')

2

In [ ]:
# indexable
s[1]

'y'

In [ ]:
# sliceable
s[2:]

'thon'

In [ ]:
# support negative indexing
s[-1]

'n'

In [ ]:
# immutable in nature
s[0] = "E"

TypeError: ignored

In [ ]:
s = "this IS A wEIrD StRinG with AJEEb sTUfF"
s

'this IS A wEIrD StRinG with AJEEb sTUfF'

In [ ]:
# uppercasing
s.upper()

'THIS IS A WEIRD STRING WITH AJEEB STUFF'

In [ ]:
# lowercasing
s.lower()

'this is a weird string with ajeeb stuff'

In [ ]:
# making the first character of each word capital
s.title()

'This Is A Weird String With Ajeeb Stuff'

### Some special string functions

In [ ]:
# checking whether a string starts with a particular string or not
s.startswith("THE")

False

In [ ]:
# checking for a valid URL
url = "HTTP://sopmetjong.com"
url.lower().startswith("http")

True

> ### ***TASK***
Given the following variables, generate a string shown below
```python
l = 45
b = 55
a = l*b
```
generate string like this
```
"Length = 45, Breadth = 55, Area = 2475"
```

In [ ]:
l = 45
b = 55
a = l*b

In [ ]:
# old way
r = "Length = " + str(l) + ", Breadth = " + str(b) + ", Area = " + str(a)
r

'Length = 45, Breadth = 55, Area = 2475'

In [ ]:
# another way
r = "Length = {}, Breadth = {}, Area = {}".format(l, b, a)
r

'Length = 45, Breadth = 55, Area = 2475'

In [ ]:
# using f-strings
r = f"Length = {l}, Breadth = {b}, Area = {a}"
r

'Length = 45, Breadth = 55, Area = 2475'

#### converting string to list
- using `split(delimiter=)` function
- as it finds delimiter character in string it'll create a new element for list

In [ ]:

s = "this is a string which is separated by space"
s.split(" ")

['this', 'is', 'a', 'string', 'which', 'is', 'separated', 'by', 'space']

In [ ]:
# setting delimiter as 'a'
s.split('a')

['this is ', ' string which is sep', 'r', 'ted by sp', 'ce']

#### Joining list elements into a string
- using `.join()` method where it takes delimiter to join the different elements together

In [ ]:
a = s.split()
a

['this', 'is', 'a', 'string', 'which', 'is', 'separated', 'by', 'space']

In [ ]:
"-".join(a)

'this-is-a-string-which-is-separated-by-space'

### Flattening the List
- <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/157/original/Screenshot_2022-09-25_at_7.16.34_PM.png?1664113649">

- <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/158/original/Screenshot_2022-09-25_at_7.16.45_PM.png?1664113671">

- <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/159/original/Screenshot_2022-09-25_at_7.16.59_PM.png?1664113698">

In [ ]:
a = [1,2,[[3,4]], [5], [[[[6,7],[8,9]]]]]
a

[1, 2, [[3, 4]], [5], [[[[6, 7], [8, 9]]]]]

In [ ]:
def flatten_my_list(li):
  result = []
  while li:
    element = li.pop()
    if type(element) == list:
      li.extend(element)
    else:
      result.append(element)
  result.sort()
  return result

In [ ]:
flatten_my_list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Python memory

Let's have an example of list like show below
```
b = [[""]*3]*3
```
Output:
```
[['', '', ''], ['', '', ''], ['', '', '']]
```
As can be seen that there are three lists each containing 3 items `''`. The point to be made is that:
> All these three lists are same and each one of them are pointing towards a single memory location which belong to `''`

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/162/original/Screenshot_2022-09-25_at_7.28.30_PM.png?1664114310">

In [ ]:
b = [[""]*3]*3
b

[['', '', ''], ['', '', ''], ['', '', '']]

In [ ]:
id(b[0]) == id(b[1]) == id(b[2])

True

In [ ]:
id(b[0][1]) == id(b[1][0]) == id(b[2][1])

True

Another point:
> If any index of those inner lists is changed then whole list will be affected

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/163/original/Screenshot_2022-09-25_at_7.32.20_PM.png?1664114570">

In [ ]:
b

[['', '', ''], ['', '', ''], ['', '', '']]

In [ ]:
b[1][0] = 'X'
b

[['X', '', ''], ['X', '', ''], ['X', '', '']]